body {
  background-color: #ffffff;
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.page.modal-open {
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link--policy {
  text-decoration: underline;
  color: #2196f3;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .page-main {
    padding-top: 60px;
  }
}

.no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.section {
  font-style: normal;
}

.section__title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section__text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.section__text--position {
  text-align: center;
}

.logo {
  display: inline-block;
  color: #212121;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  z-index: 5;
}

.logo--accent {
  color: #2196f3;
}

.logo--color {
  color: var(--primary-bg-color);
}

.header {
  width: 100%;
  border-bottom: 1px solid #ececec;
}

.header__btn {
  padding: 0;
  margin-left: auto;
  text-align: center;
  background-color: transparent;
  border: none;
  z-index: 5;
}

.header__btn:hover, .header__btn:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .header__btn {
    display: none;
  }
}

.header__icon {
  display: block;
}

.menu--is-open .header__icon {
  display: none;
}

.header__icon:hover, .header__icon:focus {
  fill: #2196f3;
}

.header__icon-close {
  display: none;
}

.menu--is-open .header__icon-close {
  display: block;
}

.header__icon-close:hover, .header__icon-close:focus {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .header {
    position: fixed;
    top: 0;
    z-index: 55;
  }
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .header-container {
    position: relative;
    top: 0;
    height: 61px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header-container {
    position: static;
    height: 80px;
  }
}

.header-nav {
  width: 100%;
  overflow: auto;
}

@media screen and (max-width: 767px) {
  .header-nav {
    position: absolute;
    top: 60px;
    left: 0;
    padding-top: 60px;
    background-color: #ffffff;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 250ms linear;
    transition: -webkit-transform 250ms linear;
    transition: transform 250ms linear;
    transition: transform 250ms linear, -webkit-transform 250ms linear;
    text-align: center;
  }
  .header-nav.menu--is-open {
    height: 393px;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 93px;
  }
}

@media screen and (min-width: 955px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.menu__link {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
}

.menu__link:hover, .menu__link:focus {
  color: #2196f3;
}

.menu__link-current {
  position: relative;
  color: #2196f3;
}

.menu__link-current::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .menu {
    font-style: normal;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;
  }
  .menu__item:not(:last-child) {
    margin-bottom: 50px;
  }
  .menu__link {
    padding-bottom: 9px;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu__link {
    display: inline-block;
    padding-top: 36px;
    padding-bottom: 31px;
  }
}

.contacts-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: #2196f3;
}

.contacts-list__icon {
  fill: currentColor;
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .contacts-list {
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 18px;
  }
  .contacts-list__item:first-child {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list {
    margin-left: 80px;
    font-size: 12px;
    letter-spacing: 0.02em;
  }
  .contacts-list__item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 955px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 80px;
    font-size: 14px;
    letter-spacing: 0.02em;
  }
  .contacts-list__item:first-child {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.button {
  text-align: center;
  background-color: #2196f3;
  width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  border-color: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  font-size: 16px;
  line-height: 1.87;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
}

.button:focus, .button:hover {
  background-color: #ffffff;
  color: #2196f3;
}

.button--center {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button--positon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .button--positon {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .button--positon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    margin-left: 12px;
  }
}

.button__icon-send {
  fill: #ffffff;
  margin-left: 10px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus .button__icon-send,
.button:hover .button__icon-send {
  fill: #2196f3;
}

.button:disabled {
  background-color: grey;
}

.button:disabled:hover {
  color: white;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: inherit;
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}

.filters__btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}

.portfolio__card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 60px;
}

.filters__button {
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__button:hover, .filters__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin-left: 20px;
  margin-right: 20px;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 508px) {
  .filters__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 638px) {
  .filters__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

.card {
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}

.card:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card:last-child {
  margin-bottom: 0px;
}

.card__info {
  padding: 20px 24px;
}

.card__name {
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.card__text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.71;
}

.card__overlay {
  position: relative;
  overflow: hidden;
}

.card__overlay-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .card__overlay-text {
    height: 100%;
    padding: 77px 24px;
    overflow: scroll;
  }
}

.card__link:hover .card__overlay-text,
.card__link:focus .card__overlay-text {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.card__img {
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card {
    width: calc((100% - 1 * 30px) / 2);
  }
  .card:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    width: calc((100% - 2 * 30px) / 3);
  }
  .card:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .card:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.footer {
  background-color: #2f303a;
  color: #ffffff;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  padding-top: 0px;
  padding-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .footer .container {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__item {
    width: 100%;
  }
  .footer__item:not(:last-child) {
    width: 50%;
  }
}

.information {
  font-size: 14px;
}

.information__logo {
  margin-bottom: 20px;
}

.information__adress {
  line-height: 1.71;
  font-style: normal;
  color: var(--white-text-color);
  margin-bottom: 8px;
}

.information__link {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.information__link:hover, .information__link:focus {
  color: #ffffff;
}

.information__adress + .information__link {
  margin-bottom: 9px;
}

.join__title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .join {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join {
    margin-left: auto;
    margin-right: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    margin-top: 12px;
    margin-left: 70px;
  }
}

.social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.social-network__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network__icon {
  fill: #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network__item:not(:last-child) {
  margin-right: 10px;
}

.social-network__link:hover, .social-network__link:focus {
  background-color: #2196f3;
}

.social-network__link:hover .social-network__icon,
.social-network__link:focus .social-network__icon {
  fill: #ffffff;
}

.social-network .social-network__link--position {
  margin-top: 16px;
}

.social-network__link--bgc-color {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-network__icon--color {
  fill: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .form-subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-left: 93px;
  }
}

.form-subscription__input {
  width: 100%;
  height: 50px;
  outline: none;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  font-size: 16px;
  color: #ffffff;
}

.form-subscription__input:focus {
  border-color: white;
}

.form-subscription__input ::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-subscription__input :-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-subscription__input ::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-subscription__input ::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-subscription__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form-subscription__input {
    width: 358px;
  }
}

.form-subscription__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
/*# sourceMappingURL=portfolio.css.map */