.checkbox {
	display: inline-block;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 30px;

	&__icon {
		vertical-align: middle;
		display: inline-block;
		width: 16px;
		height: 16px;
		margin-right: 8px;

		border: 2px solid $color-main-text;
		border-radius: 2px;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
	&__input:checked ~ &__icon {
		background-color: $accent;
		background-image: url(../img/icons/forms/modal_form/icon_checkbox.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-origin: border-box;

		border-color: $accent;
	}
}
