.clients {
	padding-top: 60px;
	padding-bottom: 60px;
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-top: 30px;
	}
	&__card {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 90px;
		border: 1px solid #afb1b8;
		border-radius: 4px;
		transition-property: border;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		&:hover,
		&:focus {
			border: 1px solid $accent;
			cursor: pointer;
		}
		@media screen and (max-width: 767px) {
			width: calc((100% - 1 * 30px) / 2);

			&:not(:nth-child(2n)) {
				margin-right: 30px;
			}

			&:not(:nth-last-child(-n + 2)) {
				margin-bottom: 30px;
			}
		}
		@media screen and (min-width: 768px) and (max-width: 1199px) {
			width: calc((100% - 2 * 30px) / 3);

			&:not(:nth-child(3n)) {
				margin-right: 30px;
			}

			&:not(:nth-last-child(-n + 3)) {
				margin-bottom: 30px;
			}
		}
		@media screen and (min-width: 1200px) {
			width: calc((100% - 5 * 30px) / 6);

			&:not(:last-child) {
				margin-right: 30px;
			}

		
		}
	}

	&__icon {
		fill: $color-icon-our-clients;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
	&__card:hover .clients__icon,
	&__card:focus .clients__icon {
		fill: $accent;
	}
}
