.filters {
	&__button {
		background-color: #f5f4fa;

		border-radius: 4px;
		border: none;
		font-family: 'Roboto';
		font-weight: 500;
		font-size: 16px;
		line-height: 1.63;
		text-align: center;
		letter-spacing: 0.03em;
		padding: 6px 22px;
		transform: scale(1);
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		&:hover,
		&:focus {
			background-color: $accent;
			color: $white;
			cursor: pointer;
			box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
			transform: scale(1.2);
			margin-left: 20px;
			margin-right: 20px;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-right: 8px;
		}
		@media screen and (max-width: 508px) {
			&:not(:nth-last-child(-n + 2)) {
				margin-bottom: 15px;
			}
		}
		@media screen and (max-width: 638px) {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}
}
