.advantages {
	padding-top: 60px;
	padding-bottom: 60px;
	&__list {
		@media screen and (min-width: 768px) {
			display: flex;
			flex-wrap: wrap;
		}
	}
	&-item {
		&::before {
			content: '';
			display: block;

			height: 120px;
			margin-bottom: 30px;
			border-radius: 4px;

			background-repeat: no-repeat;
			background-position: center;
			background-color: $color-bg-advantges;
		}
		@media screen and (max-width: 767px) {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
		@media screen and (min-width: 768px) {
			width: calc((100% - 1 * 30px) / 2);

			&:not(:nth-child(2n)) {
				margin-right: 30px;
			}
			&:not(:nth-last-child(-n + 2)) {
				margin-bottom: 30px;
			}
		}
		@media screen and (min-width: 1200px) {
			width: calc((100% - 3 * 30px) / 4);

			&:not(:last-child) {
				margin-right: 30px;
			}
		}
	}

	&__title {
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.03em;
		margin-top: 0px;
		margin-bottom: 10px;

		@media screen and (max-width: 767px) {
			text-align: center;
		}
	}
}

@each $icon in advantages1, advantages2, advantages3, advantages4 {
	.advantages-item--icon-#{$icon}::before {
		background-image: url(../img/icons/advantages/#{$icon}.svg);
	}
}
