.footer {
	background-color: $secondary-bg-color;
	color: $white;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	padding-top: 60px;
	padding-bottom: 60px;
	.container {
		padding-top: 0px;
		padding-bottom: 0px;
		@media screen and (max-width: 767px) {
			text-align: center;
		}
		@media screen and (min-width: 768px) and (max-width: 1199px) {
			display: flex;
			align-items: baseline;
			flex-wrap: wrap;
			text-align: center;
		}
		@media screen and (min-width: 1200px) {
			display: flex;
			align-items: baseline;
		}
	}
	&__item {
		@media screen and (min-width: 768px) and (max-width: 1199px) {
			width: 100%;
			&:not(:last-child) {
				width: 50%;
			}
		}
	}
}
.information {
	font-size: 14px;
	&__logo {
		margin-bottom: 20px;
	}

	&__adress {
		line-height: 1.71;
		font-style: normal;
		color: var(--white-text-color);
		margin-bottom: 8px;
	}
	&__link {
		display: inline-block;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.03em;
		color: $color-secondary-text;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		&:hover,
		&:focus {
			color: $white;
		}
	}
}
.information__adress + .information__link {
	margin-bottom: 9px;
}

.join {
	&__title {
		margin-bottom: 20px;
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: #ffffff;
	}
	@media screen and (max-width: 767px) {
		margin-top: 60px;
		margin-bottom: 60px;
	}
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		margin-left: auto;
		margin-right: 90px;
	}
	@media screen and (min-width: 1200px) {
		margin-top: 12px;
		margin-left: 70px;
	}
}
