.hero {
	display: flex;
	align-items: center;

	text-align: center;

	margin-left: auto;
	margin-right: auto;
	height: 400px;

	background-color: $secondary-bg-color;

	color: $white;

	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/images/mobile/hero/hero-mobile.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	&__title {
		font-weight: 900;
		font-size: 26px;
		line-height: 1.61;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		margin-bottom: 30px;
	}

	@media screen and (min-device-pixel-ratio: 2),
		screen and (-webkit-min-device-pixel-ratio: 2),
		screen and (-o-min-device-pixel-ratio: 2/1),
		screen and (min-resolution: 192dpi),
		screen and (min-resolution: 2dppx) {
		background-image: url(../img/images/mobile/hero/hero-mobile@2x.jpg);
	}
	@media screen and (min-width: 768px) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/images/tablet/hero/hero.jpg);
		@media screen and (min-device-pixel-ratio: 2),
			screen and (-webkit-min-device-pixel-ratio: 2),
			screen and (-o-min-device-pixel-ratio: 2/1),
			screen and (min-resolution: 192dpi),
			screen and (min-resolution: 2dppx) {
			background-image: url(../img/images/tablet/hero/hero@2x.jpg);
		}
	}
	@media screen and (min-width: 1200px) {
		max-width: 1600px;
		height: 600px;
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/images/desktop/hero/hero-desktop.jpg);
		@media screen and (min-device-pixel-ratio: 2),
			screen and (-webkit-min-device-pixel-ratio: 2),
			screen and (-o-min-device-pixel-ratio: 2/1),
			screen and (min-resolution: 192dpi),
			screen and (min-resolution: 2dppx) {
			background-image: url(../img/images/desktop/hero/hero-desktop@2x.jpg);
		}
	}
}
