//Переменные цветов
$primary-bg-color: #ffffff;
$secondary-bg-color: #2f303a;
$color-main-text: #212121;
$color-secondary-text: #757575;
$white: #ffffff;
$accent: #2196f3;
$color-bg-advantges: #f5f4fa;
$color-icon-our-clients: #afb1b8;
$color-footers-link: rgba(255, 255, 255, 0.6);
$color-ftr-social-link: rgba(255, 255, 255, 0.1);
